div {
	outline: solid 1px white;
}

body {
	cursor: default;
}

.loading_message {
	display: none;
}

.waveform {
	height: 30px;
}

/** ORIGINAL
body {
	cursor: default;
	user-select: none;
}

div.no-gutter {
	padding-right: 0;
	padding-left: 0;
}

div.browser {
	height: 100vh;
	overflow-y: auto;
	font-size: 12px;
}

li span:hover {
	cursor: pointer;
	text-decoration: underline;
}

div.progress {
	cursor: pointer;
	margin-bottom: 0px;
}

.currentSong {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

canvas.waveform {
	height: 30px;
}

.currentTime {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.playlist_container {
	height: calc(100vh - 55px);
	overflow-y: auto;
	font-size: 12px;
}

table.playlist tbody tr {
	cursor: pointer;
}

table.playlist tbody tr td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th.trackNum, td.trackNum {
	width: 5%;
}

th.title, td.title {
	width: 50%;
}

th.artist, td.artist {
	width: 20%;
}

th.album, td.ablum {
	width: 20%;
}

th.duration, td.duration {
	width: 5%;
}

.loading_message {
	display: none;
}
/**