body {
	cursor: default;
	overflow-y: scroll;
}

button {
	width: 100%;
}

.progress {
	cursor: pointer;
	height: 25px;
}

.progress > .progress-bar {
	width: 0%;
	height: 100%;
}

.loading_message {
	display: none;
}

.dir {
	cursor: pointer;
}

.track {
	cursor: pointer;
}

.waveform {
	height: 25px;
	width: 100%;
}

.no-overflow {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.no-gutters {
	margin-right: 0;
	margin-left: 0;
	padding-right: 0;
	padding-left: 0;
}
