body {
	background-color: darkslategray;
	color: white;
	/* prevent text selection */
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.browser {
	outline: 2px solid black;
	outline-offset: -2px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	overflow: auto;
}

div.playlist {
	outline: 2px solid black;
	outline-offset: -2px;
	position: absolute;
	left: 20%;
	bottom: 0px;
	width: 80%;
	height: 80%;
	overflow: auto;
}

div.player {
	outline: 2px solid black;
	outline-offset: -2px;
	position: absolute;
	left: 20%;
	top: 0px;
	width: 80%;
	height: 20%;
	overflow: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table, th, td {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}

td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

th.trackNum {
	width: 5%;
}

th.title {
	width: 45%;
}

th.artist {
	width: 25%;
}

th.album {
	width: 20%;
}

this.duration {
	width: 5%;
}

tr.selected {
	background-color: gray;
}
