body {
	background-color: teal;
}

div.browser {
	outline: 2px solid red;
	outline-offset: -2px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 20%;
	height: 100%;
	overflow: auto;
}

div.playlist {
	outline: 2px solid blue;
	outline-offset: -2px;
	position: absolute;
	left: 20%;
	bottom: 0px;
	width: 80%;
	height: 80%;
	overflow: auto;
}

div.player {
	outline: 2px solid purple;
	outline-offset: -2px;
	position: absolute;
	left: 20%;
	top: 0px;
	width: 80%;
	height: 20%;
	overflow: auto;
}

tr.selected {
	background-color: lightgray;
}
