body {
	cursor: default;
	user-select: none;
}

div.no-gutter {
	padding-right: 0;
	padding-left: 0;
}

div.browser {
	height: 100vh;
	overflow-y: auto;
	font-size: 12px;
}

li span {
	cursor: pointer;
}

div.progress {
	cursor: pointer;
	margin-bottom: 0px;
}

div.playlist_container {
	height: calc(100vh - 55px);
	overflow-y: auto;
	font-size: 12px;
}

tr.data {
	cursor: pointer;
}

td {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.loading_message {
	display: none;
}
